
$side-bar-btn-d: 40px;

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: $side-bar-width;
  height: 100%;
  background: none;
  overflow: auto;
  z-index: 300;

  &-bottom {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all .15s linear;
    color: $color-blue-4;
    margin-bottom: 20px;

    &:hover {
      border-radius: 50%;
      color: white;
      background: $color-blue-4;
    }

    &[data-enable="false"] {
      color: $color-blue-2;
      cursor: not-allowed;

      &:hover {
        color: white;
        background: $color-blue-2;
      }
    }
  }

  #site-toggle-share-btn {
    @media screen and (min-width: $mobile-width + 1px) {
      display: none;
    }
  }
}