$code-font-family               = "Consolas", "Microsoft YaHei", "Microsoft Jhenghei", "Hiragino Sans GB", monospace
$code-font-size                 = 14px
$code-border-radius             = 3px
$code-foreground                = #555
$code-background                = #eee
$line-height-code-block         = 1.6