$layout-font: Consolas, Microsoft YaHei, sans-serif;

$content-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$code-font: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
